## Dictionary

   - Dictionary stores element as keys and value pairs
   - The key is like an index, its always unique & immutable
   - The values are the objects that contain information
   - Values are accessed using their keys
   - Each key is followed by a value separated by a colon
   - The values can be immutable, mutable, & duplicates
   - Each key and value pair is separated by a comma enclosed inside curly brackets

In [1]:
# Creating a dictionary

d1 = {"India": "INR", "USA": "USD", "Hong Kong": "HKD"}
# Accessing value using keys

d1["India"]

'INR'

In [2]:
# Replacing the value for a key in a dictionary

d1["India"] = "NEW"
d1

{'India': 'NEW', 'USA': 'USD', 'Hong Kong': 'HKD'}

In [3]:
d1["Japan"] = "YEN"

In [4]:
d1

{'India': 'NEW', 'USA': 'USD', 'Hong Kong': 'HKD', 'Japan': 'YEN'}

In [ ]:
# Inserting a new key-value pair

d1["Japan"] = "YEN"

d1

In [ ]:
d1

In [5]:
# Deleting a key value pair

del d1["Japan"]

d1

{'India': 'NEW', 'USA': 'USD', 'Hong Kong': 'HKD'}

In [6]:
# Sorting a dictionary

sorted(d1)

['Hong Kong', 'India', 'USA']

In [ ]:
d1["India"] = "INR"

In [ ]:
d1

In [7]:
# values() method

d1.values()

dict_values(['NEW', 'USD', 'HKD'])

In [8]:
# keys() method

d1.keys()

dict_keys(['India', 'USA', 'Hong Kong'])

In [9]:
# get() method

d1.get('India')

'NEW'

In [10]:
# update() method

d1.update({"India": "Rs"})
d1["India"] = "Rs"

d1

{'India': 'Rs', 'USA': 'USD', 'Hong Kong': 'HKD'}

#### Practice Codes

##### Question 1
##### Description
Write code to fetch the profession of the employee with Employee id - 104 from an employee input given in the form of a dictionary where key represent employee id and values represent the name, age, and profession (in the same order).

Sample input:

Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

Sample output:

'Product Lead'

Note: Assume that employee data would be available in the data provided to you

In [11]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

In [12]:
type(Employee_data)

dict

In [13]:
Employee_data

{101: ['Shiva', 24, 'Content Strategist'],
 102: ['Udit', 25, 'Content Strategist'],
 103: ['Sonam', 28, 'Sr Manager'],
 104: ['Ansari', 29, 'Product Lead'],
 105: ['Huzefa', 32, 'Project Manager']}

In [14]:
type(Employee_data.get(104))

list

In [15]:
list_2 = Employee_data.get(104)

In [16]:
list_2[2]

'Product Lead'

In [ ]:
Employee_data.get(104)[2]

In [ ]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

Employee_data.get(104)[2]

##### Question 2

Suppose dict_1 = {"Python'':40, "R'':45}. What command should be used to delete the entry "R"?

In [ ]:
dict_1 = {"Python":40, "R":45}

In [ ]:
del dict_1["R"]

In [ ]:
dict_1

##### Question 3

d = {'Python':40, 'R':45}

print(list(d.keys()))

In [ ]:
d = {'Python':40, 'R':45}


print(list(d.keys()))

##### Question 4

##### Description
From a Dictionary input_dict={'Name': 'Monty', 'Profession': 'Singer' }, get the value of a key based on user input which is not a part of the dictionary, in such a way that Python doesn't hit an error. If the key does not exist in the dictionary, Python should return 'NA'.

Sample Input:

{'Name': 'Monty', 'Profession': 'Singer' }



Sample Output:

NA

In [ ]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }

In [ ]:
input_dict["Label"] = "NA"

In [ ]:
input_dict["Label"]

In [ ]:
input_dict = {'Name': 'Monty', 'Profession': 'Singer' }

In [ ]:
input_dict.keys()

In [ ]:
input_dict = {'Name': 'Monty', 'Profession': 'Singer' }

if "Label" in input_dict.keys():
    print(input_dict["Label"])
else:
    print("NA")

##### Question 5

- List of Values in a Dictionary.

##### Description
Create a SORTED list of all values from the dictionary input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}



Sample Input:

{'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}



Sample Output:

ï»¿['Amazon', 'Apple', 'RJIO', 'Twitter']

In [ ]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

In [ ]:
sorted(input_dict.values())

In [ ]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

new_list = input_dict.values()

sorted(new_list)