## Lists

   - Lists are ordered sequence of mixed data types
   - Lists are written in comma separated elements within square brackets

In [59]:
list1 = ["India", 5, "Delhi", True]

In [60]:
list1

['India', 5, 'Delhi', True]

In [61]:
print(len(list1))
print(type(list1))

4
<class 'list'>

In [80]:
#Nested list - List within a List

list2 = ["India", "Delhi", 5, 10, ["Rajkot", "Chennai"] ]
len(list2)

5

In [86]:
list2[2:4]

[5, 10]

[start:end] -> start include but end vo include nhi rehta -> step - 1 []

[start : end : step]

In [96]:
list2[::2]

['India', 5, ['Rajkot', 'Chennai']]

In [97]:
list2[::1]

['India', 'Delhi', 5, 10, ['Rajkot', 'Chennai']]

In [98]:
list2[::-1]  # how to reverse a list

[['Rajkot', 'Chennai'], 10, 5, 'Delhi', 'India']

In [99]:
list3= [1,2,3,4,5]

In [101]:
list3[1::2]

[2, 4]

In [83]:
list2[-1]

['Rajkot', 'Chennai']

In [82]:
type(list2[4])

list

In [74]:
type(list2[3])

int

In [76]:
list2[-1][2]

'c'

In [77]:
list2[-1][1]  # negative indexing -> right to left -> -1, -2......

'b'

In [79]:
list2[5][1]   # positve indexing -> left to right  -> 0,1,2,.....

'b'

In [ ]:
#Indexing

list2 = ["India", "Delhi", 5, 10, ["Rajkot", "Chennai"]]

list2[0]

In [ ]:
#Slicing

list2[-1]

In [ ]:
list2 = ["India", "Delhi", 5, 10, ("Rajkot", "Chennai")]

In [ ]:
list2[4][0]

In [ ]:
#List Concat
list1 = [1,2,3,4]
list2 = [5,6,7,8]

new_list = list1 + list2

In [ ]:
len(new_list)

In [ ]:
new_list

In [102]:
#Add two elements to an existing list
list3 = [1,2,3,4]
#list4 = [5,6]
new_list = list3 +  [5,6]
new_list

[1, 2, 3, 4, 5, 6]

In [ ]:
#Membership in lists & tuples

tuple3 = (1,2,3,4)
print(1 in tuple3)
print(5 in tuple3)

In [ ]:
list3 = [1,2,3,4]
print(1 in list3)
print(5 in list3)

#### Mutability

In [103]:
list1 = ["Maths", "Physics", "Chemistry", "Biology"]

In [105]:
list1[3]

'Biology'

In [107]:
list1[3] == 'Biology'

True

In [108]:
list1[3] = 'Computer Science'

In [109]:
list1

['Maths', 'Physics', 'Chemistry', 'Computer Science']

In [110]:
#extend() function --> It extends the list

list1 = [1,2,3,4]
list1.extend([5,6])
len(list1)

6

In [111]:
list1

[1, 2, 3, 4, 5, 6]

In [112]:
list1 = [1,2,3,4]
list1.append([5,6])
len(list1)

5

In [113]:
list1

[1, 2, 3, 4, [5, 6]]

In [114]:
#append() function

list1 = [1,2,3,4]
list1.append(6)

In [115]:
list1

[1, 2, 3, 4, 6]

In [116]:
#del command

list1 = [1,2,3,4]

del list1[2]
list1

[1, 2, 4]

In [117]:
del list1[1]

In [118]:
list1

[1, 4]

In [119]:
#pop() - Deletes the object based on the index value
# Default --> Removes the last element

list1 = [11,22,33,44]

list1.pop()
list1

[11, 22, 33]

In [121]:
list1.pop(0)

11

In [122]:
list1

[22]

In [124]:
list1 = [11,22,33,44,22,22]

list1.remove(22)
list1

[11, 33, 44, 22, 22]

In [125]:
#remove() - takes value as an input

list1 = [1,2,3,4]

list1.remove(3)

In [138]:
#Sorting 
A = [9,5,2]
A.sort()
A

[2, 5, 9]

In [127]:
A.sort(reverse=True)
A

[9, 5, 2]

#### Difference between sort & sorted

In [131]:
A = ["Oranges", "Strawberry", "Mango"]
B = A.sort()
B

In [132]:
A = ["Oranges", "Strawberry", "Mango"]
A.sort()

In [135]:
A = ["Oranges", "Strawberry", "Mango"]
B = sorted(A)
print(A)
print(B)

['Oranges', 'Strawberry', 'Mango']
['Mango', 'Oranges', 'Strawberry']

In [134]:
A.sort()

In [136]:
A = [1,2,3]
B = A.sort()
B

In [144]:
A = [14,3]
A.sort(reverse=True)
A

[14, 3]

#### shallow copy

In [ ]:
A = ["Oranges", "Strawberry", "Mango"]
B = A
print(B)
print(A)

In [ ]:
A.pop()

In [ ]:
A

In [ ]:
B

In [ ]:
A = ["Oranges", "Strawberry", "Mango"]
B = A[0:3]
print(B)

In [ ]:
A.pop()

In [ ]:
A

In [ ]:
B

## Questions

#### Description
Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). Since tuples are immutable, one way to do this is to convert the tuple to a list, add the element, and convert it back to a tuple.


Sample Input:
('Monty Python', 'British', 1969)

Sample Output:
('Monty Python', 'British', 1969, 'Python')

In [ ]:
tuple_new = ('Monty Python', 'British', 1969)
a = 'Python'
#Tuple Concatenation
tuple_new2 = tuple_new + (a,)

In [ ]:
tuple_new2

In [ ]:
type(tuple_new2)

In [ ]:
tuple_new = ('Monty Python', 'British', 1969)
list_new = list(tuple_new)
list_new.append('Python')
tuple_new2 = tuple(list_new)

In [ ]:
tuple_new2

In [ ]:
type(tuple_new2)

#### Description
Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.

A sample output of the input 'Kumar_Ravi_003' is:

In [ ]:
input_str = 'Kumar_Ravi_003'

print(input_str[6:10])
print(input_str[0:5])
print(input_str[-3:])

In [ ]:
Ravi
Kumar
003

In [ ]:
input_str = 'Kumar_Ravi_003'
list1 = input_str.split('_')

In [ ]:
list1

In [ ]:
print(list1[1])
print(list1[0])
print(list1[2])

### Questions

#### Question 1: A List and a Tuple Together?
#### Question 2: Indexing from the End
- Suppose list_1 is [2, 33, 222, 14, 25]. What is list_1[-5]?

#### Question 3: I Lost Everything!
- word = ['1','2','3','4']
- word[ : ] = [ ] 
- print(word)

#### Sorted List
- Consider the following list:
- L = ['one','two','three', 'four', 'five', 'six']
- print(sorted(L))
- print (L)

#### Question

#### Description
Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.



Sample Input:

['SAS', 'R', 'PYTHON', 'SPSS']



Sample Output:

['SAS', 'R', 'PYTHON', 'SPARK']

In [ ]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list[-1] = 'SPARK'
print(input_list)

#### Description
Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:
Pythons syntax is easy to learn & Pythons syntax is very clear

Note that there is a space on both sides of '&' (as usual in English sentences).

In [ ]:
input_list = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

#### How will I extract Python from the nested list
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]