## Loops & Iteration

### Loops

#### Check whether a number is even or odd

In [ ]:
x = 101

if x % 2 == 0:
    print(x, "is an Even number")
else:
    print(x, "is an Odd number")

In [ ]:
x = int(input("Enter your age: "))

if x % 2 == 0:
    print(x, "is an Even number")
else:
    print(x, "is an Odd number")

#### < 18 & > 50 are not allowed for the party. --> 18 or above and 50 and below are allowed for the party.

In [ ]:
x = int(input("Enter your age: "))

if x < 18 or x > 50:
    print("Sorry!! You are not allowed for the party")
else:
    print("Welcome to the party")

#### Program which offers various discounts on purchase bills

In [ ]:
shop_total = int(input("Input your billed amount: "))

if shop_total >=5000:
    print("You have won a voucher of Rs. 1000/-")
elif shop_total >=2500:
    print("You have won a voucher of Rs. 500/-")
else:
    print("OOPS!! No discount for you!!")

### Iteration

for i in list1:

In [2]:
#Iterate over a list of integers

list_1 = [10,20,30,40,50]
for num in list_1:
    print(num + 2)

12
22
32
42
52

In [3]:
#Iterate over a String

str_1 = "India"
for ch in str_1:
    print(ch)

I
n
d
i
a

In [8]:
#Iterate over a dictionary

students_data = {1: ['Sam', 25], 2:['Sharma',28], 3:['Ravi',22], 4:['Sid',23], 5:['Varun',24]}

for key,val in students_data.items():
    
    print(key,'has value', val)

1 has value ['Sam', 25]
2 has value ['Sharma', 28]
3 has value ['Ravi', 22]
4 has value ['Sid', 23]
5 has value ['Varun', 24]

In [5]:
for key in students_data.keys():
    print(key)
for val in students_data.values():
    print(val)

1
2
3
4
5
['Sam', 25]
['Sharma', 28]
['Ravi', 22]
['Sid', 23]
['Varun', 24]

In [9]:
range(1,101)

range(1, 101)

In [11]:
#Iterate over a range of values

for i in range(1,6):
    print(i)

1
2
3
4
5

In [12]:
for i in range(1,21):
    if i%2==0:
        print(i, 'is even')
    else:
        print(i, 'Is odd')

1 Is odd
2 is even
3 Is odd
4 is even
5 Is odd
6 is even
7 Is odd
8 is even
9 Is odd
10 is even
11 Is odd
12 is even
13 Is odd
14 is even
15 Is odd
16 is even
17 Is odd
18 is even
19 Is odd
20 is even

In [14]:
['' even' if i%2==0 else 'odd' for i in range(1,21)]

SyntaxError: invalid syntax (2117148874.py, line 1)

### Comprehensions

In [ ]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = []

for i in list_1:
    list_2.append(i)
    
print(list_2)

In [ ]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = []

for i in list_1:
    list_2.append(len(i))
    
print(list_2)

In [15]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = [len(i) for i in list_1]
    
print(list_2)

[11, 5, 4, 6, 3]

In [16]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

d = {i: len(i) for i in list_1}

d

{'Automobiles': 11, 'Honda': 5, 'Benz': 4, 'Maruti': 6, 'Kia': 3}