## Tuples

   - Tuples are ordered sequence of mixed data types
   - Tuples are written in comma separated elements within parenthesis

In [ ]:
t = (1,2,3,4)

In [ ]:
type(t)

In [9]:
t = ('hello', 5, 5.5)
t

('hello', 5, 5.5)

In [10]:
len(t)

3

In [12]:
t1 = ('hello', 5, 5.5, [2,3,4])

In [13]:
len(t1)

4

In [14]:
var = t1[3]
type(var)

list

In [15]:
var

[2, 3, 4]

In [16]:
var[1]

3

In [17]:
t1[3]

[2, 3, 4]

In [18]:
t1[3][1]

3

In [19]:
len(t1)

4

    Tuples can be defined in various ways

In [20]:
t1 = 1,2,3,4,5
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [23]:
t1 = 1
type(t1)

int

In [24]:
t1 = 1,
type(t1)

tuple

In [25]:
len(t1)

1

In [27]:
t2 = (2,)
type(t2)

tuple

In [28]:
t3 = (2)
type(t3)

int

In [29]:
l1 = [1]
type(l1)

list

In [30]:
type(t3)

int

In [ ]:
#single value tuple

t2 = 1,
print(t2)

In [ ]:
t3 = (1,)
print(t3)

In [ ]:
#This is not a tuple

t4 = 1
t5 = (1)

In [ ]:
type(t5)

#### Indexing in tuple

In [31]:
t = ("Mumbai", 10, "Python", 100)

In [32]:
len(t)

4

[start : end : step/jump]

In [33]:
t[2:]

('Python', 100)

In [34]:
t[1:3]

(10, 'Python')

In [ ]:
str1 = "HELLO WORLD"
str1[6:]

In [ ]:
#gives the element at index location 0 i.e. 1st element

print(t[0])

#gives the element at index location 1

print(t[1])

#### Slicing

In [36]:
#slicing first 2 elements from t

t = ("Mumbai", 10, "Python", 100)

t[:2]

('Mumbai', 10)

In [39]:
t[1::2]

(10, 100)

In [40]:
t[-2:]

('Python', 100)

In [41]:
#slicing last 2 elements from t

t[-2:]

('Python', 100)

In [42]:
#find the number of elements in a tuple

len(t)

4

#### Concatenation

In [45]:
tup1 = ("welcome", "to", "today's")
tup2 = ("class", "on", "python")

In [46]:
tup3 = tup1 + tup2

In [47]:
tup3

('welcome', 'to', "today's", 'class', 'on', 'python')

#### min, max, sum functions

In [48]:
t = (2,4,6,8)
sum(t)

20

In [49]:
t = (2,4,6,'hello')
sum(t)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [50]:
t = (2,4,6,8)
min(t)

2

In [52]:
t = (2,4,6,8)
max(t)

8

In [53]:
t = (5.5, 4.2, 5, 9)
max(t)

9

In [55]:
tuple1 = (1,2,3,4,"hello", "world", (1,2,3))

In [56]:
len(tuple1)

7

In [57]:
tuple1[-1][1]

2

In [58]:
tuple2 = (1,2,3)
tuple2[1]

2

In [ ]:
tuple1[6][1]

#### Immutability

In [59]:
t = ("Hello!!", "Welcome" , 5, 10, "world", "of", "Analytics!!")

In [60]:
t[3]

10

In [61]:
t[3] = 15

TypeError: 'tuple' object does not support item assignment

In [62]:
t[2] = "to"

TypeError: 'tuple' object does not support item assignment

In [63]:
t[0:2]

('Hello!!', 'Welcome')

In [64]:
t[-3:]

('world', 'of', 'Analytics!!')

In [65]:
#How to update the 2nd and 3rd element

new_tuple = t[0:2] + ("to", "the",) + t[-3:]

In [66]:
new_tuple

('Hello!!', 'Welcome', 'to', 'the', 'world', 'of', 'Analytics!!')

In [67]:
#QUESTION

t = ("disco", 12, 4.5)
t[0][2]

's'

#### Sorting a tuple

In [68]:
t = (2,3,8,5,4,1)
new_var = sorted(t)
print(new_var)
print(type(new_var))

[1, 2, 3, 4, 5, 8]
<class 'list'>

In [69]:
new_list = sorted(t)
new_list

[1, 2, 3, 4, 5, 8]

In [70]:
# Type casting

t2 = tuple(new_list)

In [71]:
t2

(1, 2, 3, 4, 5, 8)

In [72]:
x = sorted(t)

tuple(x)

(1, 2, 3, 4, 5, 8)

In [ ]:
# Nested tuples

t = (1,5,"Hello","World", ("Java", "Python"))

In [ ]:
t[4][0]

In [ ]:
#How to access Java ????

In [ ]:
#QUESTION 1

t = (1, 2, 4, 3)

#What will be the output of t[4]

#QUESTION 2

#Which of the following declarations can be used to create a Python tuple? 
#(More than one option may be correct.)

x = ('2')
x = 1,2,
x = ((1,2,3), 4,5)
x = (Hello,'2','3')

In [ ]:
x = ('2')
type(x)

In [73]:
t = (1, 2, 4, 3)

len(t)

4

In [74]:
t[4]

IndexError: tuple index out of range

In [ ]:
x = ('2')
x = 1,2,
x = ((1,2,3), 4,5)
x = (Hello,'2','3')

In [75]:
x = ('2')

In [76]:
type(x)

str

In [80]:
x = (Hello,'2','3')
type(x)

NameError: name 'Hello' is not defined

In [83]:
Hello = 'zep'

In [84]:
x = (Hello,'2','3')
type(x)

tuple

In [86]:
x

('zep', '2', '3')