<h1 style = "color : Brown">Variables & Keywords</h1>

A Python variable is a reserved memory location to store values. In other words, a variable in a python program gives data to the computer for processing.

In [31]:
a='hello world'

In [37]:
a = hello

NameError: name 'hello' is not defined

In [32]:
type(a)

str

In [33]:
my_age = 31

In [34]:
print(my_age)

31

In [35]:
type(my_age)

int

In [41]:
score = '89'
type(score)

str

In [42]:
var = "Hello world, welcome to the class"

In [43]:
type(var)

str

In [44]:
var = 10

In [45]:
type(var)

int

In [47]:
string_var = "Hello world, welcome to the class"

In [48]:
print(string_var)

Hello world, welcome to the class

In [49]:
type(string_var)

str

In [50]:
a = "10.5"
type(a)

str

In [51]:
a = '10.5'
print(a)
print(type(a))

10.5
<class 'str'>

In [53]:
a='True'
print(type(a))
print(a)

<class 'str'>
True

In [ ]:
true    True

In [54]:
a=True
print(type(a))
print(a)

<class 'bool'>
True

In [56]:
bool_var = "True"
print(bool_var)
print(type(bool_var))

True
<class 'str'>

In [59]:
bool_var = true
print(bool_var)
print(type(bool_var))

NameError: name 'true' is not defined

In [60]:
a = 10

In [61]:
a=10
A=15

print(a)
print(A)

10
15

In [62]:
name=2
Name=4
NAme=10
naMe=11

In [ ]:
var = 10

In [ ]:
float_var = 10.1

In [ ]:
type(var)

In [ ]:
type(float_var)

In [ ]:
string1 = 'hello'
print(string1)

In [ ]:
string1

In [ ]:
string2 = "hello 123 world"
print(string2)

In [66]:
new_v1ar = 10

In [67]:
new_var = 10

In [69]:
print(new_var)
print(new_v1ar)

10
10

In [70]:
name = 2
Name = 4
print(name)
print(Name)

2
4

In [71]:
a=4
b=5
c=a+b
print(c)

9

In [72]:
a=14
b=15
c=a+b
print(c)

29

In [ ]:
def sum_fun(a,b):
    c=a+b
    return c

sum_fun(5,6)

In [ ]:
def func_sum(a,b):
    c=a+b
    return c


func_sum(4,5)

In [ ]:

func_sum(14,55)

In [ ]:
1name=5

In [ ]:
a = 10

In [ ]:
type(a)

In [ ]:
a = 10.1

In [ ]:
type(a)

In [ ]:
welcome_string = "Welcome to the Python course"

In [ ]:
print(welcome_string)

In [ ]:
type(welcome_string)

In [ ]:
a = 10
b = 5
c = a+b
print(c)

In [ ]:
def sum_function(a,b):
    c=a+b
    return c

In [ ]:
sum_function(5,6)

In [ ]:
boolean_var = 'True'

In [ ]:
type(boolean_var)

In [ ]:
boolean_var = True

In [ ]:
type(boolean_var)

In [ ]:
name = "prashu"
age = 31
gender = 'male'
country = 'india'

In [ ]:
#type() --> data type of the variable

type(age)